node_modules/

# Published Site
publish/*
!publish/index.html

# IDE
.idea/
.vs/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets


# Logs
logs
*.log

# DotNet (Sample Code)

## Build Files
[Bb]in
csx/
rcf/
[Oo]bj

## User-specific files
*.suo
*.csproj.user
*.ccproj.user
*.sln.DotSettings.user
*.pubxml.user
*.dbmdl

## Packages
packages/
/*.dll
/*.pdb
/*.XML
*.nupkg
*.trx
